<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <p>GeoCookies</p>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              Documentation
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-half">
          <div class="box">
            <svg id="canvas"></svg>
          </div>
        </div>
        <div class="column">
          Перетаскивай точки чтобы нарисовать линию
          
        </div>
      </div>
      
    </div>
  </div>
</section>

<router-outlet></router-outlet>